# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
*.iml
*.ipr
*.iws

# Web related
lib/generated_plugin_registrant.dart

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Android Studio / Xcode (tidak dipakai untuk web, tapi standar)
android/
ios/
macos/
linux/
windows/
